<!-- <p>Thank You for contact with me.. </p> 
<p>Soon i will contact with by your given details...</p>
Phone: <%#= @phone_no%>
<br>
Mail_id: <%#=@email%>
<br>
Description: <%#=@desc%>
<br>
Thanks and regards Sumanta Hazra
<br>
<a href="www.sumantahazra.info">www.sumantahazra.info</a> -->

<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
      /* CLIENT-SPECIFIC STYLES */
      body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
      table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
      img { -ms-interpolation-mode: bicubic; }
      /* RESET STYLES */
      img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }
      table { border-collapse: collapse !important; }
      body { height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; }
      /* iOS BLUE LINKS */
      a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      }
      /* MEDIA QUERIES */
      @media screen and (max-width: 480px) {
      .mobile-hide {
      display: none !important;
      }
      .mobile-center {
      text-align: center !important;
      }
      }
      /* ANDROID CENTER FIX */
      div[style*="margin: 16px 0;"] { margin: 0 !important; }
    </style>
  <body style="margin: 0 !important; padding: 0 !important; background-color: #eeeeee;" bgcolor="#eeeeee">
    <!-- HIDDEN PREHEADER TEXT -->
    <div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Open Sans, Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
      This is a conformation mail. I register your request or question. Soon I will get back to you.
    </div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td align="center" style="background-color: #fff;" bgcolor="#eeeeee">
        <!--[if (gte mso 9)|(IE)]>
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
    <tr>
      <td align="center" valign="top" width="600">
        <![endif]-->
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
          <tr>
            <td align="center" valign="top" style="font-size:0; padding: 35px;" bgcolor="#044767">
              <!--[if (gte mso 9)|(IE)]>
              <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                  <td align="left" valign="top" width="300">
                    <![endif]-->
                    <div style="display:inline-block; max-width:50%; min-width:100px; vertical-align:top; width:100%;">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                        <tr>
                          <td align="left" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 36px; font-weight: 800; line-height: 48px;" class="mobile-center">
                            <h1 style="font-size: 36px; font-weight: 800; margin: 0; color: #ffffff;">Sumanta Hazra</h1>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]>
                  </td>
                  <td align="right" width="300">
                    <![endif]-->
                    <div style="display:inline-block; max-width:50%; min-width:100px; vertical-align:top; width:100%;" class="mobile-hide">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                        <tr>
                          <td align="right" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; line-height: 48px;">
                            <table cellspacing="0" cellpadding="0" border="0" align="right">
                              <tr>
                                <td style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400;">
                                  <p style="font-size: 18px; font-weight: 400; margin: 0; color: #ffffff;"><a href="http://www.sumantahazra.info" target="_blank" style="color: #ffffff; text-decoration: none;">sumantahazra.info &nbsp;</a></p>
                                </td>
                                <td style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 24px;">
                                  <a href="http://http://www.sumantahazra.info" target="_blank" style="color: #ffffff; text-decoration: none;"><img src="shop.png" width="27" height="23" style="display: block; border: 0px;"/></a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!--[if (gte mso 9)|(IE)]>
                  </td>
                </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
          <tr>
            <td align="center" style="padding: 35px 35px 20px 35px; background-color: #ffffff;" bgcolor="#ffffff">
              <!--[if (gte mso 9)|(IE)]>
              <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                  <td align="center" valign="top" width="600">
                    <![endif]-->
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                      <tr>
                        <td align="center" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">
                          <img src="hero-image-receipt.png" width="125" height="120" style="display: block; border: 0px;" /><br>
                          <h2 style="font-size: 30px; font-weight: 800; line-height: 36px; color: #333333; margin: 0;">
                            Thank You For Connecting with me!
                          </h2>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 10px;">
                          <p style="font-size: 16px; font-weight: 400; line-height: 24px; color: #777777;">
                            This is a conformation mail. I register your request or question. Soon I will get back to you.
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="padding-top: 20px;">
                          <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                              <td width="75%" align="left" bgcolor="#eeeeee" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;">
                                Contact Details
                              </td>
                            </tr>
                            <tr>
                              <td width="75%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;">
                                <%= @phone_no%>
                              </td>
                            </tr>
                            <tr>
                              <td width="75%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 5px 10px;">
                                <%=@email%>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="padding-top: 20px;">
                          <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                              <td width="100%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px; border-top: 3px solid #eeeeee; ">
                                Context
                              </td>
                            </tr>
                            <tr>
                              <td width="100%" align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;  border-bottom: 3px solid #eeeeee;">
                                <%=@desc%>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                  </td>
                </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
          <tr>
            <td align="center" height="100%" valign="top" width="100%" style="padding: 0 35px 35px 35px; background-color: #ffffff;" bgcolor="#ffffff">
              <!--[if (gte mso 9)|(IE)]>
              <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                  <td align="center" valign="top" width="600">
                    <![endif]-->
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:660px;">
                      <tr>
                        <td align="center" valign="top" style="font-size:0;">
                          <!--[if (gte mso 9)|(IE)]>
                          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                            <tr>
                              <td align="left" valign="top" width="300">
                                <![endif]-->
                                <div style="display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;">
                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;">
                                        <p style="font-weight: 800;">Social media</p>
                                        <p><a href="https://www.facebook.com/hazrasumanta" target="_blank" style="font-size: 18px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #ffffff;    width: 50%; text-decoration: none; border-radius: 5px; background-color: #3b5998; padding: 15px 30px; border: 1px solid #66b3b7; display: block;">Facebook</a></p>
                                        <p><a href="https://twitter.com/HAZRASUMANTA" target="_blank" style="font-size: 18px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;    width: 50%; border-radius: 5px; background-color: #66b3b7; padding: 15px 30px; border: 1px solid #66b3b7; display: block;">Tweeter</a></p>
                                        <p><a href="https://plus.google.com/u/1/112453037456613291535" target="_blank" style="font-size: 18px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;    width: 50%; border-radius: 5px; background-color: #d34836; padding: 15px 30px; border: 1px solid #66b3b7; display: block;">Google+</a></p>
                                        <p><a href="https://www.linkedin.com/in/sumanta-hazra-8857884a/" target="_blank" style="font-size: 18px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none;    width: 50%; border-radius: 5px; background-color: #0077B5; padding: 15px 30px; border: 1px solid #66b3b7; display: block;">LinkedIn</a></p>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                                <!--[if (gte mso 9)|(IE)]>
                              </td>
                              <td align="left" valign="top" width="300">
                                <![endif]-->
                                <div style="display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;">
                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;">
                                        <p style="font-weight: 800;">Enquiry Created</p>
                                        <p><%=@create_time.strftime("%d %b. %Y")%></p>
                                        <p><%=@create_time.strftime("%H:%M")%></p>
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                                <!--[if (gte mso 9)|(IE)]>
                              </td>
                            </tr>
                          </table>
                          <![endif]-->
                        </td>
                      </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                  </td>
                </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
          <tr>
            <td align="center" style=" padding: 35px; background-color: #1b9ba3;" bgcolor="#1b9ba3">
              <!--[if (gte mso 9)|(IE)]>
              <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                  <td align="center" valign="top" width="600">
                    <![endif]-->
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                      <tr>
                        <td align="center" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">
                          <h2 style="font-size: 24px; font-weight: 800; line-height: 30px; color: #ffffff; margin: 0;">
                            Click here to visit again
                          </h2>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 25px 0 15px 0;">
                          <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="center" style="border-radius: 5px;" bgcolor="#66b3b7">
                                <a href="http://sumantahazra.info" target="_blank" style="font-size: 18px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 5px; background-color: #66b3b7; padding: 15px 30px; border: 1px solid #66b3b7; display: block;">Click</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                  </td>
                </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
          <tr>
            <td align="center" style="padding: 35px; background-color: #ffffff;" bgcolor="#ffffff">
              <!--[if (gte mso 9)|(IE)]>
              <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                  <td align="center" valign="top" width="600">
                    <![endif]-->
                    <!--[if (gte mso 9)|(IE)]>
                  </td>
                </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
        </table>
        <!-- LITMUS ATTRIBUTION -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td bgcolor="#ffffff" align="center">
              <!--[if (gte mso 9)|(IE)]>
              <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                <tr>
                  <td align="center" valign="top" width="600">
                    <![endif]-->
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" >
                      <tr>
                        <td bgcolor="#ffffff" align="center" style="padding: 30px 30px 30px 30px; color: #666666; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;" >
                          <p style="margin: 0;">This email is built and tested with Sumanta Hazra. This is a enquiry mail generated as per your request. If you don't please ignore this mail. <a href="https://sumantahazra.info?camp=enquiry_mail" style="color: #5db3ec;">hazrasumanta.info</a></p>
                        </td>
                      </tr>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                  </td>
                </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
        </table>
        <!-- END LITMUS ATTRIBUTION -->
  </body>
</html>