<!-- <a class="fb-share" href="#" onclick="
  window.open(
    'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://www.sumantahazra.info/blogs/<%=@blog.slug%>'), 
    'facebook-share-dialog', 
    'width=626,height=436'); 
  return false;">
  <span class="fb-share-icon"></span><span class="fb-share-text">Share</span>
</a>



<style type="text/css">

</style> -->
<div id="share-buttons">
    <div class="row">
    <!-- Buffer -->
    <div class="col-md-3 col-xs-6 all_btn">
	    <a href="https://bufferapp.com/add?url=http://www.sumantahazra.info/blogs/<%=@blog.slug%>" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/buffer.png" alt="Buffer" />
	    </a>
    </div>
    <!-- Digg -->
    <div class="col-md-3 col-xs-6 all_btn">
	    <a href="http://www.digg.com/submit?url=http://www.sumantahazra.info/blogs/<%=@blog.slug%>" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" />
	    </a>
    </div>
    <!-- Email -->
    <div class="col-md-3 col-xs-6 all_btn">
	    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.sumantahazra.info/blogs/<%=@blog.slug%>">
	        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
	    </a>
 		</div>
    <!-- Facebook -->
    <div class="col-md-3 col-xs-6 all_btn">
	    <a href="http://www.facebook.com/sharer.php?u=http://www.sumantahazra.info/blogs/<%=@blog.slug%>" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
	    </a>
    </div>
    <!-- Google+ -->
    <div class="col-md-3 col-xs-6 all_btn">
	    <a href="https://plus.google.com/share?url=http://www.sumantahazra.info/blogs/<%=@blog.slug%>" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
	    </a>
    </div>
    <!-- LinkedIn -->
    <div class="col-md-3 col-xs-6 all_btn">
	    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.sumantahazra.info/blogs/<%=@blog.slug%>" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
	    </a>
    </div>
    <!-- Pinterest -->
    <div class="col-md-3 col-xs-6 all_btn">
	    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
	        <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
	    </a>
	  </div>
    
    <!-- Print -->
    <div class="col-md-3 col-xs-6 all_btn">
    <a href="javascript:;" onclick="window.print()">
        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
    </a>
    </div>
    <!-- Reddit -->
    <div class="col-md-3 col-xs-6 all_btn">
	    <a href="http://reddit.com/submit?url=http://www.sumantahazra.info/blogs/<%=@blog.slug%>&amp;title=<%=@blog.title%>" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
	    </a>
    </div>
    <!-- StumbleUpon-->
    <div class="col-md-3 col-xs-6 all_btn">
	    <a href="http://www.stumbleupon.com/submit?url=http://www.sumantahazra.info/blogs/<%=@blog.slug%>&amp;title=<%=@blog.title%>" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon" />
	    </a>
    </div>
    <!-- Tumblr-->
    <div class="col-md-3 col-xs-6 all_btn">
	    <a href="http://www.tumblr.com/share/link?url=http://www.sumantahazra.info/blogs/<%=@blog.slug%>&amp;title=<%=@blog.title%>" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
	    </a>
    </div>
    <!-- Twitter -->
    <div class="col-md-3 col-xs-6 all_btn">
	    <a href="https://twitter.com/share?url=http://www.sumantahazra.info/blogs/<%=@blog.slug%>&amp;text=<%=@blog.title%>&amp;hashtags=Sumanta_blog Rubu_on_rails" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
	    </a>
    </div>
    <!-- VK -->
    <div class="col-md-3 col-xs-6 all_btn">
	    <a href="http://vkontakte.ru/share.php?url=http://www.sumantahazra.info/blogs/<%=@blog.slug%>" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/vk.png" alt="VK" />
	    </a>
    </div>
    <!-- Yummly -->
    <div class="col-md-3 col-xs-6 all_btn">
	    <a href="http://www.yummly.com/urb/verify?url=http://www.sumantahazra.info/blogs/<%=@blog.slug%>&amp;title=<%=@blog.title%>" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/yummly.png" alt="Yummly" />
	    </a>
	  </div>
	  </div>
</div>
<style type="text/css">
 
#share-buttons img {
width: 70px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
.all_btn{
	margin: 10px;
}
 
</style>