  <div class="row">
  <%#=@test%>
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <%=render "blog_post"%>
      </div>
      <div id="page_links">
      	<center>
			<%= will_paginate @blogs_list%>
		</center>
	  </div>
      
    </div>
   
<style type="text/css">
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  text-align: center;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




	.index-cover{
		width: 100%;
		margin-top: 25px;
	}
	.title{
		margin-top:20px;
		font-size: 20px;
		padding-bottom: 20px;
	}
	.left-side-bar{
		background-color: #000;
		min-height: 500px;
	}
	.tags{
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.tags-anch{
		color: gray;
		/*text-decoration: underline;*/
		font-size: 15px;
		text-transform: capitalize;
		/*word-spacing: 10px;*/
	}
	.hole_div{
		padding: 5px;
		padding-bottom: 20px;
	}
	.view_class{
		padding: 10px;
		float: right;
	}
</style>
