<% @blogs_list.each do |xy|%>
          <div class="row hello_appand">
	          <div class="hole_div">
		          <div class="col-md-2"><%=image_tag xy.cover_pic.url(:thumb),:class=>"index-cover"%></div>
		          <div class="col-md-10">
		            <div class="title">
		            <%= link_to xy.title, blog_path(xy) %>
		            </div>
		            <div class="short_desc">
		              <span><%=raw xy.short_desc%>[...]</span>
		            </div>
		             <div class="tags">
		             Tags: 
	            	<%xy.blog_cat_tags.each_with_index do |x,index|%>
	            		<a href=<%=tag_blog_path(x.slug)%> class="tags-anch"><%=x.name%></a>
	            		<%if index+1 != xy.blog_cat_tags.count%>
	        				,
	       				<%end%>
	            	<%end%>
		            </div>
		            <div style="padding: 5px;color: gray;"> 
		            	<span style="margin-right: 20px;"><%= time_ago_in_words(xy.created_at) unless xy.created_at.blank? %> ago</span>
		            	<span>View count <%=xy.view_count%></span>
		            <%if admin_user_signed_in?%>
		            <%=link_to "Edit Blog", edit_blog_path(xy),:class=> "btn btn-primary view_class"%>
		            <%end%>
		            <%=link_to "View Blog", blog_path(xy),:class=> "btn btn-danger view_class"%>
		            </div>
		          </div>
		          </div>
	        </div>

        <%end%>
        <div id="blog_list2"></div>

        <script type="text/javascript">
        	// $(document).ready(function(){
        		//$('.loader').remove();
        	// });
        </script>