<%if @blog.reviews.present?%>
<br>
	<%@blog.reviews.where("content is not null").each do |x|%>
		<div class="hole_div_comment row">
		<div class="name_comment col-md-2"><span class="name_spam"><%=x.name%></span><span class="comment_spam"><%=time_ago_in_words(x.created_at) unless x.created_at.blank?%></span></div>
		<div class="div_comment col-md-10"><%=x.content%></div>
		</div>
	<%end%>

<%end%>
<style type="text/css">
	.hole_div_comment{
		width: 100%;
		padding: 15px;
		display: inline-block;
		background-color: #F6F7F9;
		border-radius: 5px;
	}
	.name_comment .comment_spam{
		text-transform: capitalize;
		color: gray;
		font-weight: bold;
	}
	.name_comment .name_spam{
		text-transform: capitalize;
		color: #3E80F0;
	}
	.comment_spam{
		display: block;
	}
</style>