<div class="row">
  <div class="col-md-2 col-xs-0 ">
   </div>
   <div class="col-md-8 col-xs-12">
    <%= simple_form_for @blog, :url => { :controller => "blogs", :action => (controller.action_name == "new") ? "create" : "update"  } do |f| %>
    <label>Title:</label>
    <div class="element_class">
    <%= f.text_field :title , :class=>"form-control",:required=>"true" %>
    </div>
    <label>Select A tag</label>
    <div class="element_class">
    <%= select_tag "tags" , [],{:class=>"form-control qna_cat", :required => 'true',:multiple => true}%>
   </div>
   <label>Blog shot Desc</label>
   <div class="element_class">
    <%=f.text_area :short_desc ,:class=>"form-control"%>
    </div>
   <label>Write blog here</label>
   <div class="element_class">
    <%=f.cktext_area :desc ,:class=>"form-control"%>
    </div>
    <div class="file-upload">
    <label>Chose Cover Pic</label>
    <%= f.file_field :cover_pic,:id=>"imgInp" %>
    <img id="blah" src="#" alt="your image" class="hide" />
    </div>
    <div class="element_class text-center">
    <%= f.submit "submit" ,:class=>"btn btn-primary"%>
    </div>
    <%end%>
  </div>
  <div class="col-md-2 col-xs-0 ">
   </div>
</div>
<style type="text/css">
  .element_class{
    width:100%;
    margin-bottom: 20px;
  }
  #blah{
    height: 150px;
    width: 200px;
  }
</style>
<script type="text/javascript">
$(document).ready(function() {
  CKEDITOR.config.height = 400;
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').removeClass('hide');
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#imgInp").change(function(){
    readURL(this);
    
});



  $(".custom").click(function(){
    $(".cartom_tag").toggleClass("hide");
  });

  // CKEDITOR.replace('editor1');
  $(".qna_cat").select2({

   ajax: {
     url: "/blogs/get_cat",
     dataType: 'json',
     delay: 250,
     data: function (params) {
       return {
         name: params.term, // search term
         page: params.page
       };
     },
     processResults: function (data, params) {
       data.results.forEach(function (d, i) {
       d.id = d.id;
     })
       params.page = params.page || 1;
       return {
         results: data.results,
         pagination: {
           more: (params.page * 30) < data.total_count
         }
       };
     },
     cache: true
   },
   escapeMarkup: function (markup) { return markup; },
   minimumInputLength: 1,
   templateResult: formatRepo,
   templateSelection: formatRepoSelection
   });
  
   function formatRepo (repo) {
   if (repo.loading) return repo.nm;
   var markup = "<div class='select2-result-repository clearfix'>" +
     "<div class='select2-result-repository__avatar'>"+repo.nm+
   "</div></div>";

   return markup;
   }

   function formatRepoSelection (repo) {
   return repo.nm;
   }
 });
</script>
<style type="text/css">
   .select2-selection__choice__remove
   {
   color: red !important;
   }
   .select2-selection__choice__remove:hover
   {
   color: white !important;
   }
   .select2-selection__choice
   {
   background-color: black !important;
   color: white;
   }
   .file-upload{
    position: absolute;
    top: 5%;
    right: -32%;
   }
</style>