

 <div class="modal fade" id="myModalins" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <%=@title%>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title_ins" id="myModalLabel"></h4>
      </div>
      <div class="modal-body_ins">
      <div style="padding: 20px;">
        <%if @title == "Review" %>
          <%= render :partial=>"blogs/review_form"%>
        <%else%>
          <%= render :partial=>"blogs/blog_share"%>
        <%end%>
      </div>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
<style type="text/css">
.modal-header
  {
    background: #CED1D6;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
</style>