<div class="row hole-populer">
	
		<div class="Populer-section">
			POPULER BLOG
		</div>
		<table>
		<%@populer_blog.each do |x| %> 
				<tr class="xxx" style="border:2px solid #fff;height:100px;">
				<td style="width:30%;border-right:1px solid #EAF2F8"><%= link_to blog_path(x) do%><%=image_tag x.cover_pic.url, :class=>"list_image"%><%end%></td>
				<td class="title_list"><%= link_to blog_path(x) do%><span><%= x.title%></span><span class="list-time-span"><%= time_ago_in_words(x.created_at)%></span><%end%></td>
				</tr>
		<%end%>
		</table>
	</div>

<div class="row hole-populer">
	<div class="col-md-12 col-lg-12 col-xs-12">
		<div class="Populer-section text-center">
			My Choice
		</div>
		<table>
			<%@my_choice.each do |x| %> 
					<tr class="xxx" style="border:1px solid #ddd;height:100px;background:#fff">
				<td style="width:30%"><%= link_to blog_path(x) do%><%=image_tag x.cover_pic.url, :class=>"list_image"%><%end%></td>
				<td class="title_list"><%= link_to blog_path(x) do%><span><%= x.title%></span><span class="list-time-span"><%= time_ago_in_words(x.created_at)%></span><%end%></td>
				</tr>
			<%end%>
		</table>
	</div>
</div>
<style type="text/css">
	.Populer-section{
		padding: 10px;
		font-size: 15px;
		background: #eee;
		color:grey;
		border-radius: 5px;
	}
	.each-populer{
		padding: 5px;
		text-transform: capitalize;
	}
	.hole-populer{
		margin-top: 20px;
		background: #eee;
	}
	td{
		background:#fff;
	}
	
</style>