<%= simple_form_for @review_new, :url => { :controller => "blogs", :action =>  "review_create"} do |f| %>
	<%=f.text_field :name,:class=>"form-control",:placeholder=>"Enter Your Name",:required=>'true'%>
	<br>
	<%=f.text_field :email,:class=>"form-control",:placeholder=>"Enter Your Email",:required=>'true'%>
	<br>
	<%=f.hidden_field :blog_post_id ,:value=>@blog_id %>
	<%=f.text_area :content,:class=>"form-control",:placeholder=>"Write Your Review Here",rows: "5", :required=>'true'%>
	<br>
	<p>
		** Want To make this review as Public &nbsp;
		<%= f.check_box :display_statas %>
		<a href="javascript:void(0);" data-tooltip="#foo" id = "trams">T&C</a>
	</p>
	<br>
	<center>
		<%= recaptcha_tags %>
		<br>
		<%=f.submit "Submit",:class=>"btn btn-primary submit-btn"%>
	</center>
<%end%>


<div id="foo">
<p>This review require approval. After Aproval only it can be show same page.</p></div>


<style type="text/css">
	#foo {
		padding: 5px;
		position: absolute;
		display: none;
		background: #fff;
		width: 250px;
		left: 311px;
		top: 331px;
   		box-shadow: 10px 10px 5px #888888;
	}
</style>
<script type="text/javascript">
	$("#trams").hover(function(e) {
    $($(this).data("tooltip")).css({
        // left: e.pageX + 5,
        // top: e.pageY + 5
    }).stop().show(100);
}, function() {
    $($(this).data("tooltip")).hide();
});
</script>