<div id="container-floating">
  <div class="nd4 nds common-btn" data-toggle="tooltip" data-placement="left" data-original-title="contract@gmail.com" value="Review"><img class="reminder">
    <p class="letter"><i class="fa fa-comments-o" aria-hidden="true"></i></p>
  </div>
  <div class="nd3 nds copy-to-clip" data-toggle="tooltip" onclick="copyToClipboard('#p1')" data-placement="left" data-original-title="Reminder"><img class="reminder" src="//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_reminders_speeddial_white_24dp.png" /></div>
  <div class="nd1 nds share-btn common-btn" data-toggle="tooltip" data-placement="left" data-original-title="Edoardo@live.it" value="Share"><img class="reminder">
    <p class="letter"><i class="fa fa-share-alt" aria-hidden="true"></i></p>
  </div>

  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create">
    <p class="plus">+</p>
    <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
  </div>
</div>
<p id="p1" style="display: none;">http://www.sumantahazra.info/blogs/<%=@blog.slug%></p>
<script type="text/javascript">
  $(".common-btn").click(function(){
    $.ajax({type:"get",
            url: "/blogs/model",
            data:{value: $(this).attr("value"),
                  b_id: "<%=@blog.id%>"
                  } 
    });
  });
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }


  (function($) {
    $.fn.flash_message = function(options) {
      
      options = $.extend({
        text: 'Done',
        time: 1000,
        how: 'before',
        class_name: ''
      }, options);
      
      return $(this).each(function() {
        if( $(this).parent().find('.flash_message').get(0) )
          return;
        
        var message = $('<span />', {
          'class': 'flash_message ' + options.class_name,
          text: options.text
        }).hide().fadeIn('fast');
        
        $(this)[options.how](message);
        
        message.delay(options.time).fadeOut('normal', function() {
          $(this).remove();
        });
        
      });
    };
})(jQuery);
$('.copy-to-clip').click(function() {

    $('.copy-to-clip').flash_message({
        text: 'Added to cart!',
        how: 'append'
    });
});

</script>
<style type="text/css">
  .copy-to-clip .flash_message {
    padding: 5px;
    color: green;
    width: 50px;
}
</style>