<div class="sub-div">
	<div class="blog_s_list">Subscribe my blog</div>
	<div class="notify"></div>
	<div class="form-subscriber col-md-12 col-xs-12">
		<%= text_field "name" ,"" , :class=>"form-control sub-name",:placeholder=>"Enter your Name"%>
		<br>
		<%= text_field "email" ,"" , :class=>"form-control sub-email",:placeholder=>"Enter your Email" %>
		<br>
		<%=link_to "Subscribe","Javascript:void(0);", :class=>"btn btn-primary sub-btn" %>
	</div>
		
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$(".sub-btn").click(function(){
			var name = false;
			var email = false;
			if($(".sub-email").val() != "")
			{
				email = true;
			}
			else{
				$(".sub-email").notify("Please fill Email field", "warn");
			}
			if($(".sub-name").val() != "")
			{
				name = true;
			}
			else{
				$(".sub-name").notify("Please fill Name field", "warn");
			}
			if(email == true && name== true){
				$.ajax({type: "get",
					url: "/blogs/new_subscriber",
					data:  {"name": $(".sub-name").val(),
							"email": $(".sub-email").val()
							}    
				});
			}
		});
	});
</script>
<style type="text/css">
.buttom_s_list{
	padding: 10px;
		font-size: 15px;
		background: #eee;
		color: grey;
		height: 30px;
}
	.sub-div{
		margin-top: 20px;
		min-height: 200px;
		padding-left: 8px;
		border-radius: 5px;
		padding-top: 8px;
		border:2px solid #fff;
	}
	.blog_s_list{
		text-transform: uppercase;
		padding: 10px;
		font-size: 15px;
		background: #eee;
		color: grey;
	}
	.form-subscriber{
		margin-top: 20px;
	}
	.sub-btn{
		float: right;
	}
</style>