//alert("hello");
<%if @pagenate.blank?%>
$('#blog_list').html("<%=raw escape_javascript(render partial: 'blogs/blog_list')%>");
<%else%>
$('#blog_list2').append('<%= j render("blog_post") %>');
<% if @blogs_list.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate(@blogs_list) %>');
  $('.pagination').hide();
<% else %>
  $('.pagination').remove();
<% end %>

<%end%>
