
<div class="parallax">
<div style="background-color: rgba(0,0,0,0.7);min-height: 200px;">
<!-- <div style="height: 50px;position: fixed;"></div> -->
<div class="row">
  <div class="col-md-3 col-xs-1"></div>
  <div class="col-md-6 col-xs-10">
  <br>
    <div class="search_form">
      <h2 style="color: #fff;">Advance Search: <span style="color:red;font-size: 15px;">Beta Version</span></h2>
      <%=form_tag blogs_path,:method=>:get do%>
         <div style="width:70%;float: left;">
         <%=text_field_tag :search,@scarch_text, :class=>"form-control",:placeholder=>"Enter Your Scarch text"%></div>
         <div style="width:30%;float: left;"><div style=""></div><%=submit_tag "Submit", :class=>"btn btn-primary"%></div>
      <%end%>
    </div>
  </div>
  <div class="col-md-3 col-xs-1"></div>
</div>
  <div class="row" style="position: relative;right: 10px;right: 10%;
    top: 20px;float: right;color: #fff;z-index: 1;">
    <h2>Sumanta's Blogs</h2>
  </div>
  </div>
</div>
<%#=cktext_area_tag "hello",""%>
<div style="">
  <div id="blog_list_hole">
    <div class="row">
  <div class="col-md-2 col-lg-2 col-sm-2 hidden-xs left-side-bar">
    <div id="tabs">
      <!-- <img class="img-circle2 img-responsive" src="/assets/pofile_pic.jpg"> -->
      <%=image_tag "pofile_pic.jpg", :class=>"img-circle2 img-responsive"%>
      <h2>Filters</h2>
      <div class="blog-ul">
        <li class="blog-sidebar-li most_populer blog-active">Populer</li>
        <li class="blog-sidebar-li most_recent">Most Recent</li>
        <li class="blog-sidebar-li my_choice">My Choise</li>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
    <div id="blog_list">
     <%=render :partial => "blogs/blog_list",:object=>@blogs_list%>
     </div>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
    <%=render "blogs/subscriber_form"%>
  </div>
</div>
   
  </div>

</div>


<%#= link_to 'New Blog', new_blog_path %>
<style type="text/css">
.search_form{
  width: 100%;
}


  .parallax {
    /* The image used */
    background-image: url("<%=@blog_paralux_img.img_url.url(:large)%>");

    /* Set a specific height */
    min-height: 200px; 
    background-size: cover;
    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.left-side-bar{
  background-color: #EAEDED;
}
.btn-li{
  margin-bottom: 10px;
}
.img-circle2{
  width: 100%;
  padding: 10px;
}
.blog-sidebar-li{
  /*height: 5px;*/
  background-color: white;
  margin: 5px;
  
}
.blog-active{
  border-right: 5px solid blue;
  border-left: 5px solid blue;
  background-color: #ABEBC6 ;
}
.blog-ul li{
  list-style: none;
  padding: 3px;
  cursor: pointer;
}
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
</style>
 <script>
  // $( function() {
  //   $( "#tabs" ).tabs();
  // } );
  $(document).ready(function(){
    // for latest blogs
    $(".most_recent").click(function(){
      $(".blog-ul li").removeClass("blog-active");
      $(this).addClass("blog-active");
      $.ajax({type: "get",
          url: "/blogs/get_list",
          data:  {"blog_req_type": "recent"}    
        });

    });
    //for populer blog
    $(".most_populer").click(function(){
      $(".blog-ul li").removeClass("blog-active");
      $(this).addClass("blog-active");
      $.ajax({type: "get",
          url: "/blogs/get_list",
          data:  {"blog_req_type": "populer"}    
        });
    });
  });
  </script>