$("div[id=blog_list2]:last").append('<%= j render("blog_post") %>');
$('.loader').remove();
<% if @blogs_list.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate(@blogs_list) %>');
  $('.pagination').hide();
<% else %>
  $('.pagination').remove();
  $('.loader').remove();
<% end %>
<%# sleep 3%>