<%if @result == true%>
    //alert("true");
	$(".notify").notify("Thnak you for subscribe", "success");
	$(".sub-name").val("");
	$(".sub-email").val("");
<%else%>
	//alert("true");
	$(".notify").notify("You already Subscribe My blog", "warn");
<%end%>