<p id="notice"><%= notice %></p>
	<div class="contaner-fluid hole_blog">
		
		<div class="row main-blog">
			<div class="col-md-9 col-lg-9 col-xs-12">
				<div class="text-center">
					<h1 class="blog_title"><%=@blog.title%></h1>
				</div>
				<div class="text-blog-div">
					<p class="blog-text">
						<%=raw @blog.desc%>
					</p>
				</div>
				<div class="blog-tags">
					<span>Tags:</span>
					<%array_new_for_tags = Array.new%>
						<%@blog.blog_cat_tags.each_with_index do |x,index|%>
						<%array_new_for_tags.push(x.name)%>
	       		 <a href=<%=tag_blog_path(x.slug)%> class="tags-anch"><%=x.name%></a>
	       			 <%if index+1 != @blog.blog_cat_tags.count%>
	       					 ,
	       				 <%end%>
	       				 
	      		<%end%>
	      		<%set_meta_tags keywords: array_new_for_tags%>
				</div>
				
				<div id="model" ></div>
				<div class="give_comment"><b><%=@blog.reviews.count%></b><span style="color: gray;">&nbsp; Comments</span><span style="float: right;">
					<button class="btn btn-primary common-btn" value="Review">Leave a comment</button>
				</span></div>
				<%= render 'comments_show'%>
				<%#@blog_id = @blog.id%>
				<%#=render "review_form"%>
			</div>
			<div class="col-md-3 col-lg-3 col-xs-12 all_di">
				<%=render :partial=> "blogs/subscriber_form"%>
				<%= render :partial=>"populer_recent_blog"%>
				<%= render :partial=>"review" %>
			</div>
		</div>
	</div>
<style type="text/css">
	.give_comment{
		padding: 20px;
		background-color: #D8DBE1;
		font-size: 20px;
		border-radius: 5px;
	}
	.main-blog{
		margin-top: 20px;
	}
	.hole_blog{
		margin-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.blog_title{
		font-size: 40px;
		text-transform: capitalize;
		font-weight: 900;
	}
	.blog-text{
		line-height: 1.5em;
	}
	.text-blog-div{
		margin-top: 30px;
	}
	.blog-tags{
		padding: 20px;
	}
	@media only screen and (max-device-width: 480px) {
		.hole_blog{
			margin-top: 20px;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
</style>

<div id="fb-root"></div>
<script>
//facebook like button api

// (function(d, s, id) {
// 	console.log("It works on each visit!");
//   var js, fjs = d.getElementsByTagName(s)[0];
//   if (d.getElementById(id)) return;
//   js = d.createElement(s); js.id = id;
//   js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
//   fjs.parentNode.insertBefore(js, fjs);
// }(document, 'script', 'facebook-jssdk'));

// $( document ).on('turbolinks:load', function() {
//   console.log("It works on each visit!")
// });
</script>



<%#= link_to 'Edit', edit_blog_path(@blog) %> 
<%#= link_to 'Back', blogs_path %>
