<div class="text-center show-tag-div">
	<span>Scarch By Tag "<%=@tag.name.capitalize%>"</span>
</div>
<%=render :partial=>"blog_list"%>

<style type="text/css">
	.show-tag-div{
		padding: 15px;
	}
	.show-tag-div span{
		font-size: 20px;
		font-family: 'Crete Round', serif;
	}
</style>