<div style="margin-top: 100px;"></div>
<div id="footer">
    <div class="container-fluid ft-cont">
        <div class="row">
            
            <br>
              <div class="col-md-4">
                <center>
                  <img src="<%=asset_url('programmer.jpg')%>" class="img-circle" alt="the-brains">
                  <br>
                  <h4 class="footertext">Programmer</h4>
                  <p class="footertext">You can thank all the crazy programming here to this guy.<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Artist</h4>
                  <p class="footertext">All the images here are hand drawn by this man.<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Designer</h4>
                  <p class="footertext">This pretty site and the copy it holds are all thanks to this guy.<br>
                </center>
              </div>
            </div>
            
    </div>
    <div class="last-ft-div">
    <center>
            <p class="footertext">Copyright 2017</p>
            </center>
          </div>
</div>
<script type="text/javascript">
$(".alert-success").fadeOut(10000);
$(".alert-danger").fadeOut(10000);
$(".alert").fadeOut(10000);
</script>