<footer>
  <div class="centered clearfix">
    <div class="footer-logo">
       <div class="footer-contact">
       <h3><a href="/contact">Contact</a></h3>
       <p><a href="mailto:">hazrasumanta@gmail.com</a></p>
       <p><a href="tel:">+91 - 9040451287</a></p>
       <p><a href="/about-me">Anjanadri Complex, Tulshi Theatre Road,<br />Bngalore, Marathahalli.<br/> State: Karnataka, <br/> pin:560037 India</a></p>
    </div>
    </div>
   
    <div class="footer-navigation">
      <div class="footer-links-holder">
        <h3><a href="/blogs">BLOGS</a></h3>
        <ul class="footer-links">
          <li><a href="/blogs">Recent Blogs</a></li>
          <li><a href="/blogs">Populer Blogs</a></li>
         <!--  <li><a href="">Page Title 3</a></li>
          <li><a href="">Page Title 4</a></li> -->
        </ul>
      </div>
      <!-- <div class="footer-links-holder">
        <h3><a href="">Section 2</a></h3>
        <ul class="footer-links">
          <li><a href="">Page Title 1</a></li>
          <li><a href="">Page Title 2</a></li>
          <li><a href="">Page Title 3</a></li>
          <li><a href="">Page Title 4</a></li>
        </ul>
      </div> -->
      <div class="footer-links-holder">
        <h3><a href="">Quick Access</a></h3>
        <ul class="footer-links">
          <li><a href="/contact">Contact Me</a></li>
          <li><a href="/about-me">About Me</a></li>
          <li><a href="/project">Projects</a></li>
          <!-- <li><a href="">Page Title 4</a></li> -->
        </ul>
      </div>

    </div>
               <div class="footer-social-icons">
    <h4 class="_14">Follow us on</h4>
    <ul class="social-icons">
        <li><a href="https://www.facebook.com/hazrasumanta" target="_blank" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/HAZRASUMANTA" target="_blank" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <!-- <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li> -->
        <li><a href="https://www.linkedin.com/in/sumanta-hazra-8857884a/" target="_blank" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://plus.google.com/u/1/112453037456613291535" target="_blank" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
</div>
  </div>
  <div class="bottom-bar">
      All Rights Reserved © 2017 <!-- | <a href="">Privacy Policy</a> | <a href="">Terms of Service</a> -->
  </div>
</footer>
<script type="text/javascript">
  $(function() {
  $('.footer-links-holder h3').click(function () {
    $(this).parent().toggleClass('active');
  });
});
</script>
<style type="text/css">
  .social-icons{
    display: flex;
  }
  .social-icons li{
    margin: 10px;
    font-size: 20px;
  }
</style>