<!-- 
<div class="parallax">
	<div class="parallax-text">
		<div class="span-text-fst-div text-center contaner">
		<center>
			<span class="fst-div-text" style="min-height: 170px;"></span>
			<span class="fst-div-text" style="font-size: 50px;font-family: 'Acme', sans-serif;">Oh, hi there!!</span>
			<span class="fst-div-text">I am <span style="color: red;">Sumanta</span></span>
			<span class="fst-div-text">I love designing And Buliding creative, Fuctional websites.</span>
			</center>
		</div>
	</div>
</div> -->
<div class="banner-div">
<%=render :partial=> "home/new_image_slide"%>
</div>
<div class="row hole_home" style="position: absolute;">
		<%#=render :partial=> "home/my_profile_div_mobile"%>
<%#=render :partial=> "home/my_profile_div_desktop"%>
<%= render :partial=> 'home/projects'%> 
<%= render :partial=> 'home/populer_blog'%> 
<%= render :partial=> 'home/home_footer'%> 
</div>
<%#fast_div_img = @all_img.where("img_type = ?","first-div").last%>
<style type="text/css">

	.span-text-fst-div{
		
		font-size: 30px;
		color: #fff;
		
		font-family: 'Crete Round', serif;
		/*position: absolute;
		top: 40%;
		left: 40%;*/
			}
	.fst-div-text{
		display: -webkit-box;
	}
	/*font-family: 'Roboto', sans-serif;
	font-family: 'Anton', sans-serif;
	font-family: 'Acme', sans-serif;
	font-family: 'Crete Round', serif;*/
	/*.hole_home{
		background-color: #666666;;
	}*/
	#footer{
		display: none;
	}
	@media only screen and (max-width: 480px) {
		.header {
			width:100% !important;
			left: 0px !important;
			top: 0px !important;
			background-color: rgba(255, 255, 255, 1.0) !important;
		}
	}
	.hole_home{
		background-color: #fff;
		/*position: relative;*/
		top: 100%;
	}
	.header {
    z-index:0;
    width:98%;
    left: 12px;
    top: 12px;
    z-index:999;
    position:absolute;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999;
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }

  .header.affix {
    background-color:#fff;
    width:100%;
    top:0;
    left: 0;
    right:0;
    padding:0;
    margin:0;
    position: fixed;
    z-index: 1030;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;

  }
  .navbar-default{
  	border:none;
  }
  .navbar-border {
  	border:none;
	}
	.hello-head{
		margin-top: 0px !important;
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$(".header").affix({
			offset: {
				top: 100
			}

		});
	});
</script>