<div class="row" style="padding:20px;margin-top: 30px;margin-bottom: 20px;">
	<div class="col-md-4 col-xs-12 text-center">
		<%=link_to '<i class="fa fa-info-circle" aria-hidden="true"></i> About Me'.html_safe ,"/about-me",:class=>"btn btn-warning btn-lg btn-wire"%>
	</div>
	<div class="col-md-4 col-xs-12 text-center">
		<%=link_to '<i class="fa fa-eye" aria-hidden="true"></i> View Profile'.html_safe ,@doc_cv.document.url,:class=>"btn btn-warning btn-lg btn-wire"%>
	</div>
	<div class="col-md-4 col-xs-12 text-center">
		<%=link_to '<i class="fa fa-download" aria-hidden="true"></i> Download Profile'.html_safe ,@doc_cv.document.url,:class=>"btn btn-warning btn-lg btn-wire", download: "Sumanta profile"%>
	</div>
</div>

<div class="introduction">
	<div class="text-ceneter">
	<center>
		<h2 class="figcaption2" style="font-family: 'Acme', sans-serif;font-size:30px;">Introduction</h2>
		</center>
	</div>
	<div class="row complite_chat">
		<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 profile_image_div text-center">
			<!-- <img class="img-circle2" src="/assets/pofile_pic.jpg"> -->
			<%=image_tag "pofile_pic.jpg", :class=>"img-circle2" %>
		</div>
		<div class="col-md-9 col-lg-9 col-sm-9 col-xs-12 profile_image_div">
			<div class="chat_div">
				<p style="padding: 20px;">
					I am a Web App developer. I build basically web apps based on <strong>Ruby On Rails</strong>, there i created many website on same. I love to design websites as well as fuctional implementations. I have experience of web apps development on Rails different version. Technologies is used in different defferent development <strong>Ruby, CSS3, Jquiry, Javascript, json, Mysql(DataBase),PostgreSQL(Database), HTML, Bootstrap</strong>.
					<br>
					<br>
					Web Apps I create All are <strong>Full Responsive</strong>. It can be adopt in many different devise environment. 
					<br>
					<br> I have complited my <strong>Master Of Computer Application</strong> form <strong>KIIT Univesity</strong>
					<%=link_to "know more...", "/about-me"%>
				</p>
			</div>
		</div>
	</div>
</div>


<style type="text/css">
	/*.introduction{
		background-color: #fff;
		margin: 20px;
		padding: 20px;
		border-radius: 10px;
	}*/
	.img-circle2 {
		border-radius: 10px;
		height: 200px;
		width: 200px;
	}
	.profile_image_div{
		
	}
/*	.chat_div {
    background: #f0ecec ;
    border-radius: 10px;
    width:100%;
    min-height:150px;
    position: relative;
    display: inline-block;
    background-color:  #f0ecec ;
}
.chat_div:before {
    content:"";
    position: absolute;
    height: 0px;
    width: 0px;
    top: 60px;
    left: -29px; /* 1px buffer for zooming problems while rendering*/
  /*  border-width: 15px;
    border-color: transparent  #f0ecec transparent transparent;
    border-style: solid;
}*/
	.complite_chat{
		margin: 20px;
		max-height: 300px;
		margin-top: 50px;
	}
</style>