
%div.container-fluid.mobile_prodiv
	%center
		%h2.figcaption2{:style=>"font-family: 'Acme', sans-serif;font-size:30px;"}
			Intoduction
	=image_tag("/assets/pofile_pic.jpg",:class=>"iange_profile")
	.profile_main_div
		%span.text_span
			I am a Web App developer. I build basically web apps based on 
			%strong 
				Ruby On Rails
			, there i created many website on same. I love to design websites as well as fuctional implementations. I have experience of web apps development on Rails different version. Technologies is used in defferent development 
			%strong
				Ruby, CSS3, Jquiry, Javascript,Json, Mysql(DataBase),
				%br
				PostgreSQL(Database), HTML, Bootstrap.
			%br
			%br
			Web Apps I create All are 
			%strong
				Full Responsive.
				It can be adopt in many different devise environment. 
			%br
			%br 
			I have complited my 
			%strong
				Master Of Computer Application
			form 
			%strong
				KIIT Univesity
			=link_to "know more...", "/about-me"



:css
	.iange_profile{
		height:50%;
		width:100%;
		margin-top:20px;
	}
	.text_span{
		font-family: 'Roboto', sans-serif;
		font-size:20px;
		line-height: 2em;
	}
	.mobile_prodiv{
		background-color:  #eee8e8;
	}
	.profile_main_div{
		min-height:100px;
		margin-top:10px;
		margin-bottom:10px;
	}