  <ul class="cb-slideshow">
            <li><span>Image 01</span><div><h3>Web·Design</h3></div></li>
            <li><span>Image 02</span><div><h3>Responsive·Desing</h3></div></li>
            <li><span>Image 03</span><div><h3>Technical·Blog</h3></div></li>
            <li><span>Image 04</span><div><h3>Ruby·On·Rails</h3></div></li>
            <li><span>Image 05</span><div><h3>Bussiness·Logics</h3></div></li>
            <li><span>Image 06</span><div><h3>Server·Config</h3></div></li>
        </ul>