<section class="wrapper">
    <div class="container-big">
        <div>
            <img src="" class="big-logo"/>
            <center>
    <h2 class="figcaption2" style="font-family: 'Acme', sans-serif;font-size:30px;">Populer Blogs</h2>
    </center>
        </div>
        <div class="content" style="margin-top: 30px;">
            <div class="container">
                <div class="row">
                <%@populer_blog.each do |x|%>
                    <div class="col-xs-12 col-sm-4">
                        <div class="carbox">
                            <a class="img-carbox" href="<%=blog_path(x)%>">
                            <%=image_tag x.cover_pic.url(:medium)%>
                          </a>
                            <div class="carbox-content">
                                <h4 class="carbox-title">
                                    <a href="<%=blog_path(x)%>"> <%=x.title%>
                                  </a>
                                </h4>
                                <p class="">
                                    <%if x.short_desc.present?%>
                                     <%=x.short_desc%>...
                                    <%end%>
                                </p>
                            </div>
                            <div class="carbox-read-more">
                                <a href="<%=blog_path(x)%>" class="btn btn-link btn-block">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</section>
