%div.projects
	%center
		%span{:style=>"font-family: 'Acme', sans-serif;font-size:30px;",:class=>"figcaption2"}
			My Projects
		
		=render :partial=> 'home/product_slide_show'
		%a{:class=>"btn btn-warning btn-lg btn-wire",:href=>"/project", :role=>"button"}More Projects »
:css
	.projects{
		min-height:600px;
		font-family: 'Roboto', sans-serif;
		background-color: #fff;
	}
	.figcaption2:before,
	.figcaption2:after {
		background-color: gray;
		content: "";
		display: inline-block;
		height: 2px;
		position: relative;
		vertical-align: super;
		width: 15%;
	}
	.btn-wire {
		margin-top: 30px;
		background-color: transparent;
		color: #000;
	}

