
<!-- <div class="accordian">
  <ul>
  <%#@all_products.each do |x|%>
    <li>
      <div class="image_title">
        <! <a href="#{project_path(x)}"><%#= x.name%></a> -->
        <%#= link_to x.name, project_path(x) %>
      <!-- </div> -->
      <%#= link_to project_path(x) do %>
     <!-- <img src="<%#=x.pic.url(:pslide)%>"> -->
			<%#end%>
    <!-- </li> -->
  <%#end%>
  <!-- </ul> -->
<!-- </div> --> 

<div class="row p_div">
  <%@all_products.each do |x|%>
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
      <div class="p_inner_div">
        <img src="<%=x.pic.url(:pslide)%>" class="p_img img-responsive">
        <a href="<%=project_path(x)%>"><h3 style="text-transform: capitalize;"><%= x.name%></h3></a>
        <p class="p_img_div"> <%=x.desc[0..100]%>...</p>
        <a type="button" href="<%=project_path(x)%>"  class="btn btn-outline-success waves-effect">More info</a>
      </div>
    </div>
  <%end%>
</div>

<style type="text/css">
  .p_img{
    height: 50%;
    width: 100%;
    border-radius: 5px;
  }
  .p_div{
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .p_inner_div{
    margin: 10px;
    padding: 5px;
    height: 400px;
    
    background-color:#fff;

  }
  .btn-outline-success {
    border: 2px solid #00C851;
    color: #007E33!important;
    background-color: transparent;
  }
  .p_img_div{
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
    color:#b9b9b9;
  }
  @media only screen and (max-width: 480px) {
    .p_inner_div{
        padding: 5px;
        height: 380px;
      }
    .projects {
      padding:0px !important;
    }
    .p_img_div{
      padding-left: 0px;
      padding-right: 0px;
    }
    .p_div{
      padding: 5px;
      margin-top: 40px;
    }
    .p_img{
      height: 35%;
      width: 100%;
    }
  }
</style>