<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js "></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js "></script>
<![endif]-->
<!-- YOU NEED THIS REFERENCE TO BE ABLE TO GET FONTAWESOME 4 ICONS TO THIS SNIPP -->



<div class="container">
<nav class="navbar navbar-default navbar-fixed-top header" role="navigation">
  <div class="container-fluid navbar-border">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=root_path%>"><i class="fa fa-home"></i> Sumanta</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav menu-nav-ul navbar-right">
        <li class="<%= active_class('/about-me')%> "><a class="menu-title" href="/about-me"><%=image_tag "info.png",:class=>"top_menu_icon"%> About</a></li>
        <li class="<%= active_class('/project')%>"><a class="menu-title" href="/project"><%=image_tag "project-icon.png",:class=>"top_menu_icon"%> Project</a></li>
        <li class="<%= active_class('/contact')%>"><a class="menu-title" href="/contact"><%=image_tag "conact-icon.png",:class=>"top_menu_icon"%> Contact</a></li>
        <li class="<%= active_class('/blogs')%>"><a class="menu-title" href="/blogs"><%=image_tag "blog-icon.png",:class=>"top_menu_icon"%> Blog</a></li>
        <li>
        <% if admin_user_signed_in? %>
          <li><div id="circle-dot"></div></li>
          <li> <%= link_to('Logout', destroy_admin_user_session_path, method: :delete) %> </li>
        <%end%>
       
      </ul>
        <ul class="nav navbar-nav social-accounts">
          <li><a href="https://twitter.com/HAZRASUMANTA" target="_blank"><i class="fa fa-twitter color-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/hazrasumanta" target="_blank"><i class="fa fa-facebook color-facebook"></i></a></li>
          <li><a href="https://www.linkedin.com/in/sumanta-hazra-8857884a/" target="_blank"><i class="fa fa-linkedin color-linkedin"></i></a></li>
          <li><a href="https://plus.google.com/u/1/112453037456613291535" target="_blank"><i class="fa fa-google-plus color-goole-plus" aria-hidden="true"></i></a></li>


        </ul>
        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<div class="hello-head" style="margin-top: 56px;"></div>

  <script type="text/javascript">
    document.addEventListener("turbolinks:load", function() {
      //alert("hello");
      $('.menu-nav-ul li').click(function(){
      $('.menu-nav-ul li').removeClass('active');
      $(this).addClass('active');
      });
      <%if Rails.env.production?%>
      //alert("hello");
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-104756422-1', 'auto');
        ga('send', 'pageview');
      });
    <%end%>
  </script>

<script>


</script>