
<!--here we are rendering another index file as remote of homes different views-->
<%#if admin_user_signed_in? %>
<%= render :partial=>"home/index"%>
<%#else%>
<!--for tempurary under-constraction file -->
<%#= render :partial=>"home/under_cons"%>
<%#end%>