 <div class="hidden-xs hidden-sm">
  <embed src="<%=@doc_cv.document.url%>" width="100%" height="1000" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html"></div>
<!-- <div class="PDF">
   <object data="<%=@doc_cv.document.url%>" type="application/pdf" width="100%" height="600">
       alt : <a href="<%=@doc_cv.document.url%>">your.pdf</a>
   </object>
</div> -->
<div style="padding: 10px;">
<object data="filename.pdf" type="application/pdf" width="100%" height="100%">
  <p>Your web browser doesn't have a PDF plugin.
  Instead you can <a href="<%=@doc_cv.document.url%>" download>click here to
  download the PDF file.</a></p>
</object></div>
