.contaner-fluid					
	-@all_products.each_with_index do |x,index|
		-if is_mobile
			.row{:style=>"padding-left:20px;padding-right:20px;margin-top: 50px;border-bottom: 1px solid #eee;"}
				.col-md-6.col-xs-12.col-lg-6.col-sm-12{:style=>"padding-left: 0px;padding-right: 0px;"}
					=image_tag(x.pic.url(:large),:class=>"div_img")
				.col-md-6.col-xs-12.col-lg-6.col-sm-12{:style=>"padding-left: 0px;padding-right: 0px;"}
					%h2.text-center{:style=>"font-family: 'litho-font'; font-weight:100;color: #3c3c3c;"}
						=x.name
					%p{:style=>"padding:20px;"}
						=x.desc
					%center
						=link_to "View More" ,project_path(x), :class=>"btn btn-warning btn-sm btn-sm1", :style=>"margin-bottom: 50px; background-color:#000; border-color:#000;"
		-else
			.row{:style=>"padding-left:20px;padding-right:20px;"}
				-if (index+2) % 2 == 0 
					.col-md-6.col-xs-12.col-lg-6.col-sm-12{:style=>"padding-left: 0px;padding-right: 0px;"}
						=image_tag(x.pic.url(:large),:class=>"div_img")
					.col-md-6.col-xs-12.col-lg-6.col-sm-12{:style=>"padding-left: 0px;padding-right: 0px;"}
						%span.triangle
						%h2.text-center{:style=>"font-family: 'litho-font'; font-weight:100;color: #3c3c3c;"}
							=x.name
						%p{:style=>"padding:20px;"}
							=x.desc[0..150]
						%center
							=link_to "View More" ,project_path(x), :class=>"btn btn-warning btn-sm btn-sm1", :style=>"background-color:#000; border-color:#000;"
				-else
					.col-md-6.col-xs-12.col-lg-6.col-sm-12{:style=>"padding-left: 0px;padding-right: 0px;"}
						%h2.text-center{:style=>"font-family: 'litho-font'; font-weight:100;color: #3c3c3c;"}
							=x.name
						%p{:style=>"padding:20px;"}
							=x.desc[0..150]
						%center
							=link_to "View More" ,project_path(x), :class=>"btn btn-warning btn-sm btn-sm1", :style=>"background-color:#000; border-color:#000;"
					.col-md-6.col-xs-12.col-lg-6.col-sm-12{:style=>"padding-left: 0px;padding-right: 0px;"}
						%span.triangle2
						=image_tag(x.pic.url(:large),:class=>"div_img")
%a.scrollToTop.btn.btn-primary{:href => "#"}
	%i.fa.fa-arrow-circle-o-up{"aria-hidden" => "true",:style=>"font-size:50px;color:#0BF1E3;"}




:css
	.btn-sm1{
		padding: 4px 30px !important;
	}
	.breadcrump a{
		color:gray;
	}
	.scrollToTop{
		z-index:5;
		padding:10px; 
		text-align:center; 
		background: whiteSmoke;
		font-weight: bold;
		color: #444;
		text-decoration: none;
		position:fixed;
		bottom: 15px;
		right:10px;
		display:none;
		background-color:transparent;
		border:none;
	}
	.scrollToTop:hover{
		text-decoration:none;
	}
	.div_img{
		width:100%;
		height:300px;
	}
	.triangle{
		display: block;
		position: absolute;
		background-color: white;
		height: 30px;
		width: 30px;
		top: 50%;
		left:-12px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
	.triangle2{
		display: block;
		position: absolute;
		background-color: white;
		height: 30px;
		width: 30px;
		top: 46%;
		left:-16px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
	@media only screen and (max-width: 480px) {
		.div_img{
			width:100%;
			height:100%;
		}
	}