<div class="header-all">
    <span>Project List</span>
</div>
<%=render :partial=>"project/index" %>



<style type="text/css">
	.row-div{
		width: 100%;
		padding: 10px;
		box-shadow: 10px 10px 5px #888888;
		margin-top: 15px;
	/*	border-radius: 2px;
		border:  1px solid #000;*/
	}
	.div-btn{
		float: right;
    margin: 28px;
	}
</style>