<div class="contaner-fluid">
	<div class="row">
	<center>
		<span class="" style="text-transform: capitalize;text-decoration: underline;color: #1b6977;font-size: 30px;"><%=@project.name%></span></center>
		<p style="padding: 30px;"><%=@project.desc%></p>
	</div>
	<div style="padding-left: 30px;">
		<table class="project-table">
			<tr>
				<td>Company</td>
				<td>:</td>
				<td>
					<span class="mid-span"> <%=@project.company%></span>
				</td>
			</tr>
			<tr>
				<td>Duration</td>
				<td>:</td>
				<td>
					<span class="mid-span"> <%=@project.duration%></span>
				</td>
			</tr>
			<tr>
				<td>Team member</td>
				<td>:</td>
				<td>
					<span class="mid-span"> <%=@project.team_member%></span>
				</td>
			</tr>

			<tr>
				<td>Url</td>
				<td>:</td>
				<td>
					<span class="mid-span"> <%=link_to @project.url, @project.url, target: "_blank" %></span></td>
			</tr>
			<tr>
				<td>Technology used</td>
				<td>:</td>
				<td>
				<% @all_technology.each do |x| %>
					<span class="tech-spam"><%=x.name%></span>
				<%end%>
				</td>
			</tr>
		</table>
	</div>
</div>

<style type="text/css">
	.mid-span{
		display: block;
	}
	.project-table th, td {
    padding: 15px;
    text-align: left;
}
.tech-spam{
	padding: 10px;
	border-radius: 4px;
	background-color: #f0ecec;
}
</style>