

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<div class="row">
		<div class="col-md-3 col-xs-1"></div>
		<div class="col-md-6 col-xs-10">
		 <center><h2>Admin Log in</h2></center>
			<div class="form-inputs">
				<%= f.input :email, required: false, autofocus: true %>
				<%= f.input :password, required: false %>
				<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
			</div>

			<div class="form-actions">
				<%= f.button :submit, "Log in" %>
			</div>
		</div>
		<div class="col-md-3 col-xs-1"></div>
	</div>
<% end %>
<!--Here I comment new signup link -->
<%#= render "devise/shared/links" %>
