<%= simple_form_for @about, :url => { :controller => "abouts", :action => (controller.action_name == "new") ? "create" : "update"  } do |f| %>
  <%= f.error_notification %>
  <div class="row">
  	<div class="col-md-2"></div>
  	<div class="col-md-8">
		  <div class="form-inputs">
		  	<%=f.text_field :title, :class=>"form-control",:placeholder=>"Title" %>
		  </div>
		  <br>
		  <div class="form-inputs">
		  <%=f.cktext_area :desc, :class=>"form-control" %>
		  </div>
		  <br>
		  <div class="form-inputs">
		  <label>Status</label>
		  <%=f.check_box :status%>
		  </div>
	  <div class="form-actions text-center">
	    <%= f.button :submit %>
	  </div>
	  </div>
	  <div class="col-md-2"></div>
  </div>
<% end %>
<script type="text/javascript">
	$(document).ready(function(){
		CKEDITOR.config.height = 400;
	});
</script>