<center>
	<h2>
		Please fill Enquiry Form
	</h2>
</center>
<%= form_for @new_enq, url: {action: "create"} do |f| %>
	<div style="text-align: center; padding: 20px;">
		<%= f.text_field :name, :class=>"form-control enq_filds",:placeholder=>"Enter Your Name", :style=>"width:100%;",:required=>true%>
		<%= f.text_field :phone_no, :class=>"form-control enq_filds",:placeholder=>"Enter Your Phone Number", :style=>"width:100%;",:required=>true%>
		<%= f.text_field :email, :class=>"form-control enq_filds",:placeholder=>"Enter Your Email Address", :style=>"width:100%;",:required=>true%>
		<%= f.text_area :desc, :class=>"form-control enq_filds",:placeholder=>"Enter Description", :style=>"width:100%;",:required=>true%>
		<div class="text-ceneter" style="margin-top: 10px;">
		<center>
			<%= recaptcha_tags %></center>
		</div>
		<%= f.submit "Submit", :class=>"btn btn-primary enq_filds"%>
		<div class="text-center" style="margin-top: 15px;">
			<span>** You will receive a confirmation mail </span>
		</div>
	</div>
<%end%>
<style type="text/css">
	.enq_filds{
		margin-top: 15px;
	}
</style>