<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcY1_a6-zrfZqM405gQfwsO5qzSAQrWOI&callback=initMap"
async defer></script>

<script type="text/javascript">
function initMap() {
	var uluru = {lat: 12.955, lng: 77.6995};
	var uluru2 = {lat: 22.605, lng: 87.722};
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 10,
	 	center: uluru
 	});
 	var map2 = new google.maps.Map(document.getElementById('map2'), {
		zoom: 10,
	 	center: uluru2
 	});
 	var marker = new google.maps.Marker({
	 	position: uluru,
	 	map: map
	 });
 	var marker2 = new google.maps.Marker({
	 	position: uluru2,
	 	map: map2
	 });
 	map.setZoom(10);
 	map2.setZoom(10);
 	map.panTo(marker.position);
 	var infoWindow = new google.maps.InfoWindow({
	 content: '<i class="fa fa-building" aria-hidden="true"></i> Marathahalli, Sumanta Hazra  '
	 });
 	map2.panTo(marker2.position);
 	var infoWindow2 = new google.maps.InfoWindow({
	 content: '<i class="fa fa-building" aria-hidden="true"></i> Daspur, Sumanta Hazra '
	 });
 	google.maps.event.addListener(marker, 'click', function () {
	 		infoWindow.open(map, marker);
	 	});
 	google.maps.event.addListener(marker2, 'click', function () {
	 		infoWindow2.open(map2, marker2);
	 	});
 }
</script>