<%= render :partial=>"contact/go_map"%>
<div class="header-all">
    <span>Contact Me</span>
</div>
<div class="contaner-fluid">
	<div class="row hello_row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">
	<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
		<%=render :partial => "contact/form" %>
	</div>
	<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
		<div style="margin-top: 15px;padding: 10px;">
		<span class="data-spam"><i aria-hidden="true" class="fa fa-mobile" style="font-size: 20px;color:green;"></i></span> 
		<%c_data = Contact.get_data("mobile")%>
			<%c_data.each_with_index do |x,index|%>
				 +91-<%=x.c_data%>,&nbsp;
				
			<%end%>
		<br>
		<br>
		 <i aria-hidden="true" class="fa fa-whatsapp" style="font-size: 20px;color:green;"></i>
		 +91-<%=c_data[0].c_data%>
		 <br>
		 <br>
		 <i aria-hidden="true" class="fa fa-skype" style="font-size: 20px;color:#12A5F4;"></i>
		 <%c_data = Contact.get_data("skype").last%>
		 <%=c_data.c_data%>
		</div>
		<!-- <i class="fa fa-whatsapp" style="font-size: 20px;color:green;" aria-hidden="true"></i>
 -->		<div style="margin-top: 5px;padding: 10px;">
		<span class="data-spam" style="min-height: 50px;"><i aria-hidden="true" class="fa fa-envelope" style="font-size: 20px;color:green;"></i></span> 
		<%c_data = Contact.get_data("email")%>
			<%c_data.each_with_index do |x,index|%>
				<span style="">
				<%if index >= 1%>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%end%>
				 <%=x.c_data%>
				 </span>
				 <br>
			<%end%>
		</div>
		<div style="margin-top: 5px;padding: 10px;">
			<span class="data-spam" style="min-height: 50px;"><i aria-hidden="true" class="fa fa-phone" style="font-size: 20px;color:green;"></i></span>
			<%c_data = Contact.get_data("Landphone")%>
				<%c_data.each_with_index do |x,index|%>
					<span style="">
					<%if index >= 1%>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<%end%>
					 <%=x.c_data%>
					 </span>
					 <br>
				<%end%>
		</div>
	<center>
		<spam class="text-center">
			<h3>Current Address</h3>
		</spam>
	</center>
	<div class="row">
	<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
	<div style="padding:10px;">
		<div>
			<%data = Contact.get_data("c_address").last%>
			<span><%= raw data.c_data%></span>
		</div>
	
	</div>
	</div>
	<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
	<div id="map" style="width:264px; height:200px;margin: auto;"></div>
	</div>
	</div>
	<center>
		<spam class="text-center">
			<h3>Permanent Address</h3>
		</spam>
	</center>
	<div class="row">
	<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
	<div style="padding:10px;">
		<div>
			<%data = Contact.get_data("p_address").last%>
			<span><%= raw data.c_data%></span>
		</div>
	
	</div>
	</div>
	<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
		<div id="map2" style="width:264px; height:200px;margin: auto;"></div>
	</div>
	</div>
	</div>
	</div>
</div>
<style type="text/css">
	.data-spam{
		
	}
	.hello_row
		box-shadow: 10px 10px 5px #888888;
		
	}

</style>