@font-face {
    font-family: 'BebasNeueRegular';
    src: asset_url('BebasNeue-webfont.eot');
    src: asset_url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         asset_url('BebasNeue-webfont.woff') format('woff'),
         asset_url('BebasNeue-webfont.ttf') format('truetype'),
         asset_url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* CSS reset */




.cb-slideshow ol,ul {
	list-style:none;
}
