/* Footer styles
-------------------------------------------------- */

#footer {
  
  bottom: 0;
  /*
  width: 100%;
   Set the fixed height of the footer here 
  height: 280px;*/
  /*margin-top: 2150px;*/
  background: #17202A;

   /* linear-gradient(
      rgba(240, 212, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    
    url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);*/
}
.last-ft-div{
  background: #000;
  width: 100%;
  padding: 10px;
}

/* Custom footer CSS
-------------------------------------------------- */

.ft-cont{
  padding: 20px;
}
/*.container .text-muted {
  margin: 20px 0;
}*/
.footertext {
  color: #ffffff;
}
