.header-all{
	padding: 30px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	margin-bottom: 30px;
	text-align: center;
}
.header-all span{
	color: #808B96;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 100%;
	font-weight: 700;
	font-family: 'Acme', sans-serif;
}
.social-accounts li a{
	font-size: 20px;
}
.top_menu_icon{
	height: 30px;
}