.xxx {
	.list_image { 
		filter: grayscale(60%);
		height:60px;
		width:100px;
	}
	.list-time-span{
	  font-weight: 600;
    color: #929292;
    line-height: 17px;
		margin-top: 8px;
    display: inline-block;
	}
}


.xxx:hover {
	.list_image{
		filter: none;
	}
}
.xxx .title_list{
	width:70%;
	padding:5px;
	margin-top:2px;
	a{
		color:#AEB6BF;
	}
	a:hover{
		text-decoration: none;
	}
}
