<!DOCTYPE html>
<html>
  
  <head>
  <title>
    <%= @title %>
  </title>
   <!--this sumanta Created Meta tags -->
    <%= display_meta_tags %>
  <!--this sumanta Created Meta tags, End here -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  	<link rel="icon" href= <%=asset_url('scribd.png')%> >
    <link href="https://fonts.googleapis.com/css?family=Acme|Anton|Crete+Round|Roboto|Lobster|Chewy|Bangers" rel="stylesheet">
    
    <%= csrf_meta_tags %>
    <%=javascript_include_tag Ckeditor.cdn_url%>
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="font-family: 'Roboto', sans-serif; ">

  <%= render :partial => "home/top_menu" %>
 <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible" style="position: absolute;top:20%;right: 0%;width: 50%;padding: 10px;z-index: 10;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="    position: initial;"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>
    <%= yield %>
  <%= render :partial => "home/footer" %>
  </body>
</html>
<style type="text/css">
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}


</style>